
[mysqladmin]
user=root

[mysqld]
basedir=/Applications/MAMP/htdocs/jgryn-network-test/mysql
datadir="/Applications/MAMP/htdocs/jgryn-network-test/mysql/data"
port=3308
socket=/Applications/MAMP/htdocs/jgryn-network-test/mysql/tmp/mysql.sock
tmpdir=/Applications/MAMP/htdocs/jgryn-network-test/mysql/tmp
max_allowed_packet=32M
bind-address=127.0.0.1
skip-name-resolve=1

default-authentication-plugin=mysql_native_password
character-set-server=UTF8
collation-server=utf8_general_ci
[client]
port=3308
socket=/Applications/MAMP/htdocs/jgryn-network-test/mysql/tmp/mysql.sock

default-character-set=UTF8
[manager]
port=3308
socket=/Applications/MAMP/htdocs/jgryn-network-test/mysql/tmp/mysql.sock
pid-file=/Applications/MAMP/htdocs/jgryn-network-test/mysql/tmp/manager.pid
default-mysqld-path=/Applications/MAMP/htdocs/jgryn-network-test/mysql/bin/mysqld.bin

